<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        {% block head %}{% endblock %}
  </head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="display: inline-flex;height:70px" class="navbar-brand" href="{% url 'index' %}">
        <img style="max-width:35px" alt="wayook" src="https://pbs.twimg.com/profile_images/636097966466535424/epM2BvCb.png">
        <span style="padding-top: 10px;padding-left: 10px;"> Wayook Chat</span>
      </a>
    </div>
  </div>
</nav>

<section id="content" class="container">
  {% block content %}{% endblock %}
</section>

<!-- jQuery library -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% block js_code %}{% endblock %}

</body>
</html>