{% extends "base.html" %}

{% block title %} Chat {% endblock title %}

{% block content %}
	<div class="row">
		<div style="text-align: center;">
    		<h1 style="text-align: center">{{chat.name}}</h1>
		</div>
	</div>
	<div class="col-md-8 col-sm-8 col-xs-12" style="height: 300px; width: 100%; border:1px solid grey; margin:10px; overflow-y: auto;">
		{% for comment in chat.comments.all %}
			{% if comment.creator == user %}
			<div style="text-align: right;">
				<span style="color:green; font-size: 20px;">{{comment}}</span>
				<br>
				<span style="color:grey; font-size: 10px";>{{comment.creationDate}} ({{comment.creator.username}})</span>
			</div>
			{% else %}
			<div style="text-align: left;">
				<span style="text-align: left; color:blue; font-size: 20px;">{{comment}}</span>
				<br>
				<span style="color:grey; font-size: 10px";>{{comment.creationDate}} ({{comment.creator.username}})</span>
			</div>
			{% endif %}
			<br>
		{% endfor %}
	</div>
	<div>
	<form id="formChat" method="POST">
	  	{% csrf_token %}
	    <div>
	      	<input id="comment" name="comment" type="text" title="Write a subject for mail" placeholder="Escribe un comentario..." class="form-control" style="width:100%;" required>
	    </div>
	    <div style="margin-top: 20px;text-align: center;">
	        <input id="sendButton" name="sendButton" type="submit" class="btn-primary btn-lg" style="width: 160px;" value="Enviar" title="Crear nuevo comentario">
	    </div>
    </form>
{% endblock %}
   
{% block js %}
<script>
	// Click enter to send new comment
	$('body').keydown(function(e) {
    var code = e.which;
    var $commentInput = $('#comment');
    if (code === 13 && !($commentInput.is(':focus')) && $commentInput.val().replace(/\s/g, '') !== '') {
      $('#formChat').submit()
    }
  });
</script>
{% endblock %}
