{% extends "base.html" %}

{% block title %}Index{% endblock title %}

{% block content %}
    <h1>Lista de Usuarios</h1>
    <ul>
	{% for user in users %}
		<li style="font-size:20px"> <a href="{{user.id}}">{{user.username}} ({{user.job}}).</a></li>
	{% endfor %}
	</ul>
{% endblock %}
