{% extends "base.html" %}

{% block title %}{{user.username}} panel{% endblock title %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-sm-8 col-xs-12">
    		<h1 style="text-align: center">Chats de {{user.username}}</h1>
		</div>
	</div>
	<div class="row">
	    <div class="container">
	    	<div class="col-md-5 col-sm-5 col-xs-12">
	    		<h3>Conversaciones abiertas</h3>
				<ul>
					{% for chat in opened_chats %}
					  <li style="font-size:20px"> <a href="{{chat.conversation}}">{{chat.user.username}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12">
				<h3>Abre nueva conversación</h3>
				<ul>
				{% for chat in closed_chats %}
				  <li style="font-size:20px"> <a href="{{chat.conversation}}">{{chat.user.username}}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

